body {
	background-color: #ffffff; /* Set white background */
	color: #000000; /* Ensure text is black for contrast */
	border-left: 5px solid lightgray;
	min-height: 100vh;
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}

header {
	padding: 1rem 0 2rem;
}

main {
	padding: 1rem 0 2rem;
}

footer {
	padding: 1rem 0 2rem;
	color: lightgray;
}

img {
	width: 100%;
}

article {
	margin-bottom: 2rem;
}

article h4 {
	color: gray;
}

article h2 {
	color: black;
}

article p {
	line-height: 1.6;
}

article a {
	color: tomato;
	text-decoration: none;
}

nav ul {
	padding: 0;
	list-style-type: none;
	display: flex;
}

.nav-UL {
	justify-content: space-between;
}

.nav-UL a {
	color: black;
}

.footer-UL {
	justify-content: space-around;
}
.footer-UL a {
	color: tomato;
}

footer {
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: lightgray;
}
